.email-app h5{
    margin : 2px 0;
}

.email-app h6{
    margin: 2px 0;
}
.email-app h4{
    margin:10px 0 2px 0;
}

.email-app p{
    padding: 10px;
    margin: 2px 0;
}

.email-app label, .email-app input[type="radio"], .email-app select {
    cursor: pointer;
}

.email-app li{
    background-color:#EDF5E1;
    border:1px solid rgb(9,69,44);
    cursor: pointer;
}
.envelope-img{
    width:50px;
    height: auto;
    background-size :3em;
    background-position: center;
    background-image: url('../img/open1.png')
}

.email-preview {
    padding: 5px;
}

.email-preview .unread .envelope-img{
    background-size :6em;
    background-image: url('../img/closed1.png')
}

.email-preview h4{
    float:left;
}

.email-app .router-link-active {
    color:rgb(38, 136, 105);
}

.email-details{
    justify-content: space-between;
    align-items: center;
}

.email-details button {
    text-transform: uppercase;
    transition: all .3s;
}


.email-list{
    width:100%;
    margin: 0 5px;
}

.email-list a {
    color: inherit;
}

.email-filter {
    padding: 10px;
}

.email-filter .searchByText{
    height: 22px;
}

.sub-routes{
    border:1px solid rgb(9,69,44);    
    background-color: rgba(237, 245, 225, 0.774);
    justify-content: center;
    width:0%;
    padding: 10px;
}

.email-app h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin: 0;
}

.email-app{
    font-family:'Nunito';
    background-color: rgba(19, 115, 85, 0.51);
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    color: rgb(9,69,44);
}

.email-app .header{
    font-family:'Nunito';
    background-color: rgb(19,115,85);
    height:90px;
}
.email-app button{
    font-family: 'Nunito';
    cursor: pointer;
}
.email-app .back {
    color: white;
    border: none;
    background-color: transparent;
    transition: all .3s;
}

.new-email-button{
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.new-email-button button{
    /* border: none; */
    transition: all .3s;
}

.new-email-button button:hover, .email-details button:hover{
    background-color: rgba(0, 0, 0, 0.548);
}

.email-app .back:hover {
    color: rgb(34, 189, 140);
}

.new-email{
    width:70%;
    margin: 0 auto;
}


@media (min-width:550px){
    .email-list{
        width:40%
    }
    .email-list.hidden{
        display:inherit;
    }
    .sub-routes{
        width:60%;
        display: flex;
        justify-content: center;
        margin:0 5px;
        display: inherit;
    }
    .sub-routes.hidden{
        display: flex;
        justify-content: center;
        margin:0 5px;
        display: inherit;
        width: 60%;
    }
}



.email-list-cmp img{
    height:25px;
}

.email-details img {
    height:20px;
}