.flex{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.horizontal-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.clean-list{
    list-style-type: none;
    padding:0;
}

.hidden { 
    display: none;
}

.space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}