@media (min-width: 580px) {
    .app-btns a div {
        width: 260px;
        height: 260px;
    }
}

.home-page {
    color: #3c4643;
    background-color: #e4e4cb9c;
    height: 100vh;
}

.home-page main {
    width: 100%;
    padding: 15px;
}

.home-page main h1 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 20px 0;
}

.app-btns div {
    cursor: pointer;
    color: #5d867c;
    border-radius: 10px;
    border: 2px #3c4643 solid;
    background-color: #7dab9fb8;
    width: 40vw;
    height: 40vw;
    min-width: 110px;
    min-height: 110px;
    transition: all .3s;
}

.app-btns div:hover {
    background-color: #a8dfd0b8;
    border-radius: 20%;
}

.app-btns h4 {
    font-weight: normal;
    margin: 20px 0 0 0;
}

.app-btns div img {
    width: 50%;
}