* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower.ttf');
}

/* font-family: 'IndieFlower', cursive; */
/* font-family: 'Nunito', sans-serif; */

.router-link-active {
    color: lightcoral;
}


