@import url('helpers.css');
@import url('note-app.css');
@import url('email-app.css');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower.ttf');
}

/* font-family: 'IndieFlower', cursive; */
/* font-family: 'Nunito', sans-serif; */

a {
    text-decoration: none;
    color: inherit;
}

.router-link-active {
    color: lightcoral;
}

.appHeader img {
    height: 150px;
}

