@import url('helpers.css');
@import url('app-header.css');
@import url('home-page.css');
@import url('navbar.css');
@import url('note-app.css');
@import url('email-app.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower.ttf');
}

/* font-family: 'Nunito', sans-serif; */

main {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}