.note-app {
    background-color: lightgoldenrodyellow;
}

.note-list {
    background-color: lightskyblue;
}

.note-list a {
    text-decoration: none;
    color: inherit;
}

.txt-note, .list-note, .photo-note {
    border: 1px solid gray;
    width: 190px;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
}

.txt-note h3, .list-note h3, .photo-note h3 {
    margin: 0 0 15px 0;
}

.photo-note img {
    max-width: 100%;
}

.note-details {
    background-color: lightgreen;
    position: absolute;
}