.note-app {
    font-family: 'IndieFlower', cursive;
    background-color: rgb(231, 212, 204);
    height: 100vh;
}

.note-app header {
    background-color: rgb(223, 176, 183);
    height: 90px;
}

.note-app button {
    font-family: 'IndieFlower', cursive;
    cursor: pointer;
}

.note-app .back {
    border: none;
    background-color: transparent;
    transition: all .3s;
}

.note-app .back:hover, .close-note:hover, .note-btns button:hover, .note-edit button:hover {
    color: lightgoldenrodyellow;
}

.note-list {
    background-color: rgb(231, 212, 204);
}

.note-app h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.note-list a {
    color: inherit;
}

.note-list h3, .note-list p {
    word-wrap: break-word;
}

.txt-note, .list-note, .photo-note {
    border: 2px solid gray;
    width: 190px;
    min-height: 200px;
    padding: 10px;
    margin: 5px 10px 10px 10px;
}

.list-note li {
    cursor: pointer;
    width: fit-content;
}

.list-note li::before {
    content: '*'
}

.txt-note h3, .list-note h3, .photo-note h3 {
    margin: 0 0 15px 0;
}

.photo-note img {
    max-width: 100%;
}

.note-details-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.356);
    /* background-color: rgba(0, 0, 0, 0.349); */
    top: 0;
    left: 0;
}

.note-details {
    padding-bottom: 7px;
    /* background-color: rgb(241, 226, 220); */
    background-color: rgb(185, 141, 123);
    position: absolute;
}

.close-note {
    font-size: 1em;
    border: none;
    background-color: transparent;
    align-self: flex-end;
    transition: all .3s;
}

.note-btns button {
    font-size: 1em;
    border: none;
    background-color: transparent;
    transition: all .3s;
}

.crossed-item {
    text-decoration: line-through;
}

.note-edit {
    margin: 0 10px 10px;
}

.note-edit button {
    border: none;
    background-color: transparent;
    transition: all .3s;
}

/**** DROPDOWN ****/

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: rgb(151, 151, 66);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s;
    position: absolute;
    left: 10px;
    bottom: -24px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(240, 240, 124);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content option {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}