.note-app {
    background-color: lightgoldenrodyellow;
}

.note-list {
    background-color: rgb(231, 212, 204);
}

.txt-note, .list-note, .photo-note {
    border: 3px solid gray;
    background-color: rgb(223, 176, 183);
    width: 190px;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
}

.txt-note h3, .list-note h3, .photo-note h3 {
    margin: 0 0 15px 0;
}

.photo-note img {
    max-width: 100%;
}

.note-details {
    background-color: rgb(185, 141, 123);
    position: absolute;
}